@import 'reset';
@import 'nav';
@import 'header';
@import 'main-font';
@import 'section';
@import 'footer';

body{
    display:grid;
    grid-template-columns: 100vw;
    grid-template-rows: 15vh auto 140vh 130vh;
    overflow-x: hidden;
}