* {
  padding: 0px;
  margin: 0px;
}

* {
  font-family: 'Roboto';
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background-color: #f2ce97;
}

.container {
  height: 78vh;
  width: 65vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}

.side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 35%;
  padding: 30px;
  background: #484956;
  color: #fff;
}

.side .title {
  margin-top: 15px;
}

.side .title p {
  font-size: 27px;
  font-weight: 100;
}

.side .title div {
  width: 50px;
  height: 3px;
  background: #e37b62;
  margin-top: 10px;
}

.side .author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.side .author img {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6);
  margin-right: 10px;
}

.side .author p {
  font-weight: 100;
}

.main {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .main-text {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  padding: 50px 40px 20px 40px;
  height: 80%;
}

.main .main-text p {
  font-size: 17px;
  margin-bottom: 0px;
  line-height: 25px;
  font-weight: 400;
}

.main .main-text p span {
  font-weight: bold;
  font-size: 30px;
}

.main .main-text p:first-child {
  margin-bottom: 10px;
}

.main .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 20%;
  padding: 0px 30px;
  -webkit-box-shadow: 0px -3px 20px rgba(0, 0, 0, 0.06);
          box-shadow: 0px -3px 20px rgba(0, 0, 0, 0.06);
}

.main .footer .date span {
  font-weight: 900;
}

.main .footer .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .footer .menu .comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
}

.main .footer .menu .comments * {
  margin-right: 7px;
  color: #ccc;
}
/*# sourceMappingURL=styles.css.map */